<%= render "shared/header2" %>

<div class="diary-global-container">
<%= link_to new_diary_path do %>
  <button class="diary-btn">日記を作成する</button>
<%end%>

  <ul class="diary-container">
  <% if @diaries.present? %>
  <%= form_with(url: search_diaries_path, local: true, method: :get, class: "search-form") do |f| %>
  <%= f.date_field :day, placeholder: "投稿を検索する", class: "search-input" %>
  <%= f.submit "検索", class: "search-btn" %>
<% end %>
   <% @diaries.each do |diaries|%>
   <li class="diary-graph">
     <%= link_to diary_path(diaries.id), class:"diary-show-link" do %>
    <div class="date-place"><%= diaries.day %></div>
    <%if diaries.image.present? %>
    <div class="image-place"><%= image_tag diaries.image,class:"diaries-image"%></div>
    <%end%>
    <div class="text-place"><%= diaries.text%></div>
    <%end%>
  </li>
  <%end%>
  <%else%>
  <h3 class="no-diary">まだ投稿がありません。</h3>
  <h4 class="no-diary2">日常を投稿してみませんか？</h4>
  <%end%>
  </ul>
  
  
</div>